/JMS/JMS/wwwroot/img/uploaded
/JMS/JMS/wwwroot/uploaded
/JMS/JMS/wwwroot/css/journal.min.css
/JMS/JMS/wwwroot/css/journallogin.min.css
/JMS/JMS/wwwroot/js/journal.min.js
/JMS/JMS/wwwroot/js/journallogin.min.js
