@model JMS.ViewModels.SystemAdmin.ForgotPasswordModel
<form asp-action="ForGotPassword" method="post" id="stfrm" onsubmit="svsetting()">
    <div class="input-group mb-3">
        <input type="email" class="form-control" asp-for="Email" placeholder="Email">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
        </div>
        <!-- /.col -->
    </div>
</form>
<p class="mt-3 mb-1">
    <a asp-action="login">Sign In</a>
</p>
@using (Html.BeginScripts())
{
    <script>
       function svsetting() {
            if ($("#stfrm").valid()) {
                $(".loader").show();
            }
        }
        @if (TempData.ContainsKey(JMS.Setting.Messages.SuccessPasswordRecoverEmailMessage))
        {
            <text>
              toastr["success"]("@TempData[JMS.Setting.Messages.SuccessPasswordRecoverEmailMessage]",{timeOut: 5000})
            </text>
        }
    </script>
}