@model JMS.Models.Users.AuthorProfileModel
@using Microsoft.Extensions.DependencyInjection;  
@{
    ViewBag.Title = "Profile";
}
<div class="card card-primary">
    <div class="card-header"><h3>Profile</h3></div>
    <form method="post" asp-action="SaveAuthorProfile" asp-controller="Account" enctype="multipart/form-data" id="crt-jur">
        <div class="card-body">
            @Html.Partial("_viewProfile",Model)
            <div class="form-group">
                <label>Affiliation</label>
                <input type="text" class="form-control" asp-for="AffiliationNo" />
                <span asp-validation-for="AffiliationNo"></span>
            </div>
            <div class="form-group">
                <label>ORCID ID</label>
                <input type="text" class="form-control" asp-for="ORCID" />
                <span asp-validation-for="ORCID"></span>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
@section scripts{
    <script>

        $("#crt-jur").on('submit', function () {
            if ($("#crt-jur").valid()) {
                $(".loader").show();
            }
        });
        $('#ORCID').mask('0000-0000-0000-0000')
    </script>
}