@model JMS.ViewModels.SystemAdmin.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}
@section contentheader{
    <div class="row">
        <div class="col-md-4">
            <h1>Forgot your password?</h1>
        </div>
    </div>
}
<partial name="_forgotpasswordform" model="@Model" />
