@model JMS.ViewModels.SystemAdmin.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <partial name="_loginfrom" model="@Model"/>
        </div>
        <!-- /.login-card-body -->
    </div>