@model JMS.ViewModels.SystemAdmin.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LoginLayout";
}
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />
            <div class="input-group mb-3">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="input-group mb-3">
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Change password</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <p class="mt-3 mb-1">
            <a asp-action="Login">Login</a>
        </p>
    </div>
    <!-- /.login-card-body -->
</div>
</div>
