@model JMS.ViewModels.SystemAdmin.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
@section contentheader{
    <div class="row">
        <div class="col-md-4">
            <h1>Reset Password</h1>
        </div>
    </div>
}
<partial name="_resetpassword" model="@Model" />

