@model JMS.ViewModels.SystemAdmin.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
         <partial name="_resetpassword" model="@Model" />
    </div>
    <!-- /.login-card-body -->
</div>

