@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["Title"] = "Verify Email";
 }
<div class="row">
    <div class="col-md-6">
        <h3>Welcome Back!</h3>
        <p>Please Confirm that <b>@(((JMS.Infra.Sequrity.JMSPrincipal)User).ApplicationUser.Email)</b> is your email. Click the below button to resend confirmation Link.</p>
        <button type="button" class="btn btn-primary" id="rsndlnk">Resend Link</button>
    </div>
</div>
@section scripts{
    <script>
        $("#rsndlnk").click(function () {
            $(".loader").show();
            $.ajax({
                type: "post",
                url: "@Url.Action("ConfirEmail", "Account")",
                data: {"__RequestVerificationToken":"@Xsrf.GetAndStoreTokens(Context).RequestToken"},
                success: function (responseData, textStatus, jqXHR) {
                    $(".loader").hide();
                }
            });
        });
    </script>

}
