@model JMS.Models.SystemAdmin.BaseProfileModel
@inject Microsoft.Extensions.Configuration.IConfiguration config
@{ 
    ViewBag.Title = "Profile";
}
<div class="card card-primary">
    <div class="card-header"><h3>Profile</h3></div>
    <form method="post" asp-action="SaveProfile" asp-controller="Account" enctype="multipart/form-data" id="crt-jur">
        <div class="card-body">
            <partial name="_viewProfile" model="Model"/>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Cancel</a>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
@section scripts{
    <script>        
        $("#crt-jur").on('submit', function () {            
            if ($("#crt-jur").valid()) {
                $(".loader").show();
            }
        });        
    </script>
}