@model JMS.Models.Journals.CreateJournalModel
@{
    ViewData["Title"] = "Create";
}
<div class="card card-primary">
    <div class="card-header"><h3>Create Journal</h3></div>
    <form method="post" asp-action="Create" asp-controller="Journals" enctype="multipart/form-data" id="crt-jur">
        <div class="card-body">
            <h3>
                Jounral Details
            </h3>
            <div>
                <img id="logo-img" height=100 width=100 />
            </div>
            <div class="form-group">
                <label>Logo</label>
                <div class="input-group">
                    <span asp-validation-for="Logo"></span>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="logo" asp-for="Logo" accept="image/jpg, image/jpeg, image/png">
                        <label class="custom-file-label" asp-for="Logo"></label>
                        <span asp-validation-for="Logo"></span>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label>Journal Title</label>
                <input type="text" class="form-control" asp-for="JournalTitle" />
                <span asp-validation-for="JournalTitle"></span>
            </div>
            <div class="form-group">
                <label>Journal Name</label>
                <input type="text" class="form-control" asp-for="JournalName" />
                <span asp-validation-for="JournalName"></span>
            </div>
            <div class="form-group">
                <label>Journal Path</label>
                <input type="text" class="form-control" asp-for="JournalPath" />
                <span asp-validation-for="JournalPath"></span>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" asp-for="IsActive">
                <label class="custom-control-label" asp-for="IsActive">Active</label>
            </div>
            <hr />
            <h3>
                Admin Details
            </h3>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label>Phone Number</label>
               <input type="tel" class="form-control" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>

        </div>
       
        
        <div class="card-footer">
            <a class="btn btn-primary" asp-action="Index">Cancel</a>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    </form>
</div>
@section scripts{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#logo-img').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Logo").change(function () {
            readURL(this);
        });
        $("#crt-jur").on('submit', function () {
            if ($("#Logo").val() == "") {
                toastr["error"]("Please upload logo.")  
                return false;
            }
            if ($("#crt-jur").valid()) {
                $(".loader").show();
            }
        });        
    </script>
}



