@model JMS.ViewModels.Register.ConfirmEmailModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}

    <h1>Click <a href="@Url.Action("Index","ConfirmEmail",new {token=Model.Token,UserId= Model.UserId},this.Context.Request.Scheme)">here</a> to confirm email.</h1>

