@model JMS.ViewModels.Submissions.CreateSubmissionModel
@{
    ViewBag.Title = "Create Submission";
}
<link href="~/plugins/jquery-steps/jquery.steps.css" rel="stylesheet" />
<link href="~/plugins/tagify/tagify.css" rel="stylesheet" />
@section scripts{
    <script src="~/plugins/jquery-steps/jquery.steps.js"></script>
    <script src="~/plugins/tagify/jQuery.tagify.min.js"></script>
    <script>
        var stepcont = $("#stepcont");
        stepcont.steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            stepsOrientation: "vertical",
            enablePagination: false,
        });
        stepcont.show();
        $("#strtfrm").submit(function (e) {
            var keywords = $("#Keywords").val()
            if (!keywords) {
                $("#Keywords-vld").show();
                e.preventDefault();
            }
            else {
                $("#Keywords-vld").hide();
            }
            var frm = $(this);
            if (frm.valid()) {
                if (keywords) {
                    $("#Keywords-vld").hide();
                    $(".loader").show();
                }
            }            
        });
        $('#Keywords').tagify({ delimiters: ",", originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(',')});

    </script>
}

<div id="stepcont" style="display:none">
    <h3>Submission Details</h3>
    <section>
        <form asp-action="Create" asp-controller="Submission" id="strtfrm" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Prefix" class="control-label"></label>
                <input asp-for="Prefix" class="form-control" />
                <span asp-validation-for="Prefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle" class="control-label"></label>
                <input asp-for="Subtitle" class="form-control" />
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <textarea asp-for="Abstract" class="form-control " rows="5"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Keywords" class="control-label"></label>
                <input asp-for="Keywords" class="form-control" />
                <p id="Keywords-vld" class="text-danger" style="display: none;margin-bottom: 0px;">Please enter atleast one keyword.</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Submission" class="btn btn-primary" />
            </div>
        </form>
    </section>
    <h3>Submission Files</h3>
    <section>
    </section>
    <h3>Contributors</h3>
    <section>
    </section>
</div>