@using JMS.Helpers;
@using JMS.ViewModels.Enums;
@model JMS.ViewModels.Submissions.AssignedSubmissionCount
@{
    ViewData["Title"] = "Submissions";
    var items = HtmlHelpers.GetActiveSubmissionStatus();
    items.Insert(0, new KeyValuePair<string, string>("", ""));
}
@section contentheader{
    <h1>My Assigned</h1>
}
<div id="jsGrid" style="display: none"></div>
@section scripts{
    <script>
        $(function () {            
            $(".loader").show();
            $("#jsGrid").jsGrid({
               height: "auto",
                width: "100%",
                onDataLoaded: function (args) {
                    $('[data-toggle="tooltip"]').tooltip()
                    $("#jsGrid").show();
                    $(".loader").hide();
                },
                paging: true,
                pageSize: 10,
                pageLoading: true,
                autoload: true,
                filtering: true,
                sorting :true,
               controller: {
                   loadData: function (filter) {
                       var d = $.Deferred();                       
                $.ajax({
                    url: "@Url.Action("GetActiveSubmission", "Submission")",
                    dataType: "json",
                    data: filter
                }).done(function(response) {
                    d.resolve(response);
                });
                return d.promise();
                }
               },
                fields: [
                    {
                        name: "Author", sorting: false, type: "text", itemTemplate: function (value, item) {
                            return "<span>" + item.firstName + " " + item.lastName+"</span>"
                        }
                    },
                    {
                        name: "Title", searchField:"SrchText", sorting:false, type: "text", itemTemplate: function (value, item) {
                            return "<span>" + item.prefix + " " + item.title + ": " + item.subTitle+"</span>"
                        }
                    },
                    {
                        name: "Last Update", sortField:"UpdatedDate", filtering:false, type: "text", itemTemplate: function (value, item) {
                            return "<span>" + item.lastUpdated+"</span>"
                        }
                    },
                    {
                        name: "Status", "searchField":"SubmissionStatus", sorting: false, valueField: "Key",items:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(items)), textField: "Key", valueType: "string", type: "select", itemTemplate: function (value, item) {
                            return "<span>" + item.status + "</span>"
                        }
                    },
                    {
                        name: "", type: "control", itemTemplate: function (value, item) {
                            return `<a data-toggle="tooltip" data-placement="top"  href="@Url.Action("View", "Submission")/${item.submissionID}">View</a>`
                        }
                    }
               ]
            });          
        });

    </script>
}

