a {
    cursor: pointer
}

.field-validation-error {
    width: 100%;
    color: #dc3545 !important;
}

.loader {
    position: fixed;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2050;
}

    .loader .spin {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 5px solid #f3f3f3;
        border-top: 5px solid gray;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        z-index: 1100;
        animation: spiner 2s linear infinite;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 2000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 2000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        animation-name: spin;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.nav-user-image {
    border-radius: 50%;
    float: left;
    height: 2.1rem;
    margin-right: 10px;
    margin-top: -2px;
    width: 2.1rem;
}

@media (min-width: 576px) {
    .nav-user-image {
        float: none;
        line-height: 10px;
        margin-right: .4rem;
        margin-top: -8px;
    }
}

#logout {
    color: black;
}

.validation-summary-errors {
    color: #dc3545 !important;
}

.grid-image {
    max-width: 100%
}

body .popover {
    display: none !important;
}

.tooltip {
    pointer-events: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff;
    border-color: #006fe6;
    color: #fff;
}

.rgfrm div {
    width: 100%
}

.wizard > .content > .body {
    position: relative !important
}

.black {
    color: black;
}

.jsgrid-cell {
    overflow: auto;
}


.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

    .tags li {
        float: left;
    }

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

    .tag::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
    }

    .tag::after {
        border-bottom: 13px solid transparent;
        border-left: 10px solid #eee;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
    }

    .tag:hover {
        background-color: crimson;
        color: white;
    }

        .tag:hover::after {
            border-left-color: crimson;
        }

.select2-container {
    display: inline-block;
}

    .select2-container .select2-selection--single {
        height: auto;
    }

#stepcont > .steps > ul > li > a {
    word-break: break-all;
}
.datepicker-container {
    z-index: 1501 !important; /* has to be larger than 1050 */
}
