a{
    cursor:pointer
}
.field-validation-error {
    width: 100%;
    color: #dc3545 !important;
}

.loader {
    position: fixed;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2050;
}

    .loader .spin {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 5px solid #f3f3f3;
        border-top: 5px solid gray;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        z-index: 1100;
        animation: spiner 2s linear infinite;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 2000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 2000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;        
        animation-name: spin;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.float-right{
    float:right;
}
.float-left {
    float: left;
}
.nav-user-image {
    border-radius: 50%;
    float: left;
    height: 2.1rem;
    margin-right: 10px;
    margin-top: -2px;
    width: 2.1rem;
}
@media (min-width: 576px) {
    .nav-user-image {
        float: none;
        line-height: 10px;
        margin-right: .4rem;
        margin-top: -8px;
    }
}
#logout{
    color:black;
}
.validation-summary-errors {
    color: #dc3545 !important;
}
.grid-image{
    max-width:100%
}
/*.login-container .login-box-msg{
    display:none;
}
.login-container .card{
    box-shadow:none;
    background:none
}
.login-container .card-body {
    box-shadow: none;
    background: none
}*/

