@model JMS.Models.Users.EditUserViewModel

@using JMS.Service.Enums; 
@{
    ViewData["Title"] = "Edit User";
}
<div class="card card-primary">
    <div class="card-header"><h3>Edit User</h3></div>
    <form method="post" asp-action="Edit" asp-controller="Users">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.UserId)
        <div class="card-body">
            <h3>
                User Details
            </h3>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" asp-for="Email" disabled />
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="tel" class="form-control" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="form-group">
                <label>Roles</label>
                <select style="display:block;width:100%" asp-items="@Model.AssignedRoles" asp-for="Roles" multiple></select>
                <span asp-validation-for="Roles"></span>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" asp-for="IsActive" checked="checked">
                <label class="custom-control-label" asp-for="IsActive">Active</label>
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Users">Cancel</a>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
@section scripts{
    <script>
        $('#PhoneNumber').mask('(000) 000-0000')
        $('#Roles').select2();
        @if (Model.IsJournalAdmin) {
            <text>
        $("#Roles").on("select2:unselecting", function (e) {
            if (e.params.args.data.text == "@(Role.Admin.ToString())") {
                $("#myModal .modal-body").html(`
<h3 class="text-center">Admin Role can not be removed from this user.</h3>
 <div>
            <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
 </div>
`);
                $("#myModal").modal({
                    backdrop: 'static',
                    keyboard: false
                });
                return false;
            }
            
        });
            </text>
        }
    </script>
}