
    <h3>Email already verified</h3>
@if (!User.Identity.IsAuthenticated)
{
    <p>Click the below button to Sign In.</p>
    <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Sign In</a>
}
